GITHUB_USERNAME="<username>"
GITHUB_PASSWORD="<gh_token>"
SERVER_IP_ADDRESS="<username>@<ip_address>"
SERVER_PORT="22"
SERVER_KEY_PATH="~/.ssh/id_rsa"
SERVER_COMPOSE_PATH="<path/to/compose>/docker-compose.yaml"