@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=darkTheme], [data-theme=darkTheme] *));

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbebfe;
  --color-primary-200: #bfddfe;
  --color-primary-300: #7fbefd;
  --color-primary-400: #60a9fa;
  --color-primary-500: #3a87f7;
  --color-primary-600: #2469ec;
  --color-primary-700: #1c53d9;
  --color-primary-800: #1e44af;
  --color-primary-900: #1e3d8a;
  --color-primary-950: #172754;

  --icon-size-3: 0.75rem !important;
  --icon-size-4: 1rem !important;
  --icon-size-5: 1.25rem !important;
  --icon-size-6: 1.5rem !important;
  --icon-size-7: 1.75rem !important;
  --icon-size-8: 2rem !important;
  --icon-size-10: 2.5rem !important;
  --icon-size-12: 3rem !important;
  --icon-size-14: 3.5rem !important;
  --icon-size-16: 4rem !important;
  --icon-size-18: 4.5rem !important;
  --icon-size-20: 5rem !important;
  --icon-size-22: 5.5rem !important;
  --icon-size-24: 6rem !important;

  --safe-area-top: env(safe-area-inset-top);
  --safe-area-right: env(safe-area-inset-right);
  --safe-area-bottom: env(safe-area-inset-bottom);
  --safe-area-left: env(safe-area-inset-left);

  --scale-96: 0.96;
  --scale-97: 0.97;
  --scale-98: 0.98;

  --opacity-12: 0.12;
  --opacity-38: 0.38;
  --opacity-87: 0.87;

  --spacing-13: 3.25rem;
  --spacing-15: 3.75rem;
  --spacing-18: 4.5rem;
  --spacing-22: 5.5rem;
  --spacing-26: 6.5rem;
  --spacing-30: 7.5rem;
  --spacing-50: 12.5rem;
  --spacing-90: 22.5rem;

  --spacing-1\/2: 50%;
  --spacing-1\/3: 33.333333%;
  --spacing-2\/3: 66.666667%;
  --spacing-1\/4: 25%;
  --spacing-2\/4: 50%;
  --spacing-3\/4: 75%;

  --spacing-100: 25rem;
  --spacing-120: 30rem;
  --spacing-128: 32rem;
  --spacing-132: 33rem;
  --spacing-140: 35rem;
  --spacing-160: 40rem;
  --spacing-180: 45rem;
  --spacing-192: 48rem;
  --spacing-200: 50rem;
  --spacing-240: 60rem;
  --spacing-256: 64rem;
  --spacing-280: 70rem;
  --spacing-320: 80rem;
  --spacing-360: 90rem;
  --spacing-400: 100rem;
  --spacing-480: 120rem;
}

[data-theme='light'] {
  --bg-card: #ffffff;
  --bg-card-rgb: 255, 255, 255;
  --bg-default: #f1f5f9;
  --bg-default-rgb: 241, 245, 249;
  --text-default: #1e293b;
  --text-default-rgb: 30, 41, 59;
  --text-hint: #94a3b8;
  --text-hint-rgb: 148, 163, 184;
  --text-disabled: #94a3b8;
  --text-disabled-rgb: 148, 163, 184;
  --divider: #e2e8f0;
  --divider-rgb: 226, 232, 240;
  --icon: #64748b;
  --icon-rgb: 100, 116, 139;
  --shadow-card: #959da5;
  --shadow-card-rgb: 149, 157, 165;
  --scrollbar-thumb: #c7c7c7;
  --scrollbar-thumb-hover: #7c7c7c;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@utility bg-card {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--bg-card-rgb), var(--tw-bg-opacity));
}

@utility bg-default {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--bg-default-rgb), var(--tw-bg-opacity));
}

@utility shadow-card {
  --tw-shadow: rgba(var(--shadow-card-rgb), 0.2) 0px 8px 24px;
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

@utility text-default {
  --tw-text-opacity: 1;
  color: rgba(var(--text-default-rgb), var(--tw-text-opacity));
}

@utility text-hint {
  --tw-text-opacity: 1;
  color: rgba(var(--text-hint-rgb), var(--tw-text-opacity));
}

@utility text-disabled {
  --tw-text-opacity: 1;
  color: rgba(var(--text-disabled-rgb), var(--tw-text-opacity));
}

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';

  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0.002 247.839);
  --color-base-300: oklch(96% 0.001 286.375);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #7fbefd;
  --color-primary-content: #ffffff;
  --color-secondary: #fdb7ea;
  --color-secondary-content: #ffffff;
  --color-accent: #c8b6ff;
  --color-accent-content: #ffffff;
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@layer utilities {
  .\@container {
    @media (width >= 40rem) {
      max-width: 32rem;
    }

    @media (width >= 48rem) {
      max-width: 45rem;
    }

    @media (width >= 64rem) {
      max-width: 60rem;
    }

    @media (width >= 80rem) {
      max-width: 72rem;
    }

    @media (width >= 96rem) {
      max-width: 84rem;
    }
  }
}

@utility fieldset {
  font-size: 1rem;
}

/* Safe Area */
@utility m-safe {
  margin-top: var(--safe-area-top);
  margin-right: var(--safe-area-right);
  margin-bottom: var(--safe-area-bottom);
  margin-left: var(--safe-area-left);
}

@utility mx-safe {
  margin-right: var(--safe-area-right);
  margin-left: var(--safe-area-left);
}

@utility my-safe {
  margin-top: var(--safe-area-top);
  margin-bottom: var(--safe-area-bottom);
}

@utility mt-safe {
  margin-top: var(--safe-area-top);
}

@utility mr-safe {
  margin-right: var(--safe-area-right);
}

@utility mb-safe {
  margin-bottom: var(--safe-area-bottom);
}

@utility ml-safe {
  margin-left: var(--safe-area-left);
}

@utility p-safe {
  padding-top: var(--safe-area-top);
  padding-right: var(--safe-area-right);
  padding-bottom: var(--safe-area-bottom);
  padding-left: var(--safe-area-left);
}

@utility px-safe {
  padding-right: var(--safe-area-right);
  padding-left: var(--safe-area-left);
}

@utility py-safe {
  padding-top: var(--safe-area-top);
  padding-bottom: var(--safe-area-bottom);
}

@utility pt-safe {
  padding-top: var(--safe-area-top);
}

@utility pr-safe {
  padding-right: var(--safe-area-right);
}

@utility pb-safe {
  padding-bottom: var(--safe-area-bottom);
}

@utility pl-safe {
  padding-left: var(--safe-area-left);
}

@utility top-safe {
  top: var(--safe-area-top);
}

@utility bottom-safe {
  bottom: var(--safe-area-bottom);
}
